@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h1>Welcome!</h1>
    <blockquote class="headerText">
        This site will help you to get the newest infromation all around the
        world!
    </blockquote>
    <div class="contentContainer">
        <span>
            On our web-site, you can check news from your device, without
            turning on tv and spending hours listening to unnecessary
            information
        </span>
        <img class="news-img"
             alt="news-img"
             src="imgs/banner-online-news-computer-coffee-newspaper-vector-flat-illustration.jpg" />
    </div>
    <div class="contentContainer">
        <img class="news-img"
             alt="corona-img"
             src="imgs/00IHW-SEXDATA-articleLarge.gif" />
        <span>
            Here, you can see the newest corona virus statistics all around the
            world !<br />
            <a href="./corona-virus-statistics.html">Click Here to see Statistics</a>
        </span>
    </div>
    <div class="contentContainer">
        <span>
            If you are already registered, you can sign in and see the newest
            blogs. If not, you can sign up every time and you will be redirect
            to blog pages automatically !
        </span>
        <img alt="facts-img"
             class="news-img"
             src="imgs/animation-facts-blog.jpg" />
    </div>
</main>
