@model finalProject.Models.FullBlogs

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Blog</h1>

<hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" ></label>
                <input asp-for="title" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" ></label>
                <input asp-for="image" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shortDescription"></label>
                <input asp-for="shortDescription" />
                <span asp-validation-for="shortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author" ></label>
                <input asp-for="author" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create"  class="inputButton submitButton" />
                <input type="reset" value="Clear" class="inputButton" />
            </div>
        </form>
  

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
