@model IEnumerable<finalProject.Models.FullBlogs>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome To Blogs Page</h1>

<p class="blogsButtonContainer">
    <a asp-action="Create" class="createBlog">Create New Blog</a>
</p>
<div class="blogs">

    @foreach (var item in Model)
    {
    <div class="blog">

        <img src=@Html.DisplayFor(modelItem => item.image) />
        <h2>
            @Html.DisplayFor(modelItem => item.title)
        </h2>
      
        <table>
            <tr>
            <th><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></th>
            <th><a asp-action="Details" asp-route-id="@item.Id">Details</a></th>
            <th><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></th>
            </tr>

        </table>
    </div>
    }

</div>
