<h4>Search for Blog</h4>
<hr />

        <form asp-action="ShowSearchResults">

            <div class="form-group">
                <label for="searchText" ></label>
                <input name="searchText" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="inputButton submitButton"  />
            </div>
        </form>
    

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}